<header>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) .Site.Params.title_frame_char }}<br>
	== <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
	{{ strings.Repeat ( .Site.Title | len | add 6 ) .Site.Params.title_frame_char }}<br>
	<p>
	<div style="float: right;">{{ .Site.Params.subtitle }}</div>
	<nav>
			<a href="/"><b>Start</b></a>.
			{{ with .Site.Menus.main }}
			{{ range . }}
			<a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>.
			{{ end }}
	</nav>
	</p>
	{{ end }}
</header>
